<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% endblock %}
    {% javascripts
        '@miniShopBundle/Resources/public/js/jquery-1.11.3.min.js'
        '@miniShopBundle/Resources/public/js/miniShop.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body> {% block meniu %}
    <a href="{{ path("products") }}">Products</a>

    <a href="{{ path("check_orders") }}">Check Orders</a>

    <a href="{{ path("show_shopping_cart") }}" id="shoppingCart">{{ 'Shopping Cart'|cart }}</a>
{% endblock %}
{% block body %}

{% endblock %}
</body>
</html>